* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --height: 260px;
    --width: 260px;
    --sq-col-height: 40px;
    --sq-row-height: 40px;
    --sq-col-width: 40px;
    --sq-row-width: 40px;
    --green-house: #1b6435;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}




.row-01 {
    display: flex;

}

.house {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--height);
    height: var(--width);
}

.house-yellow {
    background-color: #d3cb27;
}
.house-red {
    background-color: #c20e0e;
}
.house-green {
    background-color: var(--green-house);
    ;
}
.house-blue {
    background-color: blue;
}

.piecer {
    background-color: #f21f0b;
}
.pieceb {
    background-color: #111d99;
}
.pieceg {
    background-color: #2a9148;
}
.piecey {
    background-color: #ffc50a;
}

.con-pieces-in-house {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.row-inhouse {
    display: flex;
    justify-content: space-between;

    
}

.con-squares {
    display: flex;
}

.square {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sq-col-width);
    height: var(--sq-col-height);
    border: 1px solid black;
}

.con-ludo {
    border: 8px solid rgb(43, 42, 40);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    position: relative;
    
}

#screen {
    font-size: 2.5rem;
}


.square-row {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sq-row-width);
    height: var(--sq-row-height);
    border: 1px solid black;
}

.piece {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


/* .pieceb::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 2.5px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #111d99;


} */

.d-flex-row {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bg-red {
    background-color: #c20e0e;
}
.bg-green {
    background-color: var(--green-house);
    ;
}
.bg-yellow {
    background-color: #d3cb27;
}
.bg-blue {
    background-color: blue;
}

.ui {
    background-color: #111d99;
    position: absolute;
    /* top: 0;
    left: -310px; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 300px;
    height: 250px;
}

.top-l {
    top: 0;
    left: -310px;

}
.top-r {
    top: 0;
    right: -310px;
}

.bot-l {
    bottom: 0;
    left: -310px;
}
.bot-r {
    bottom: 0;
    right: -310px;

}

#btn-roll {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
}

#screen, #turn-screen{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

#input-roll {
    padding: 0.3rem 1rem;
}

.active {
    background-color: #11995e !important;
    animation-name: activeAnimation;
    animation-duration: 1.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.con-win {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

i {
    color: white;
    font-size: 0.9rem;
    
}

.house .piece {
    width: 30px;
    height: 30px;
    
}

.star {
font-size: 0.5rem;   
}

.house .star {
    font-size: 1rem;
}

.menu {
    background-image: url(a4136850.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-box {
    background-image: url(Group.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-box {
    background-image: url(Group.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 800px;
    border-radius: 20px;
}

.bg-yellow-1042 {
    background-color: #ffc82a;
}

body {
    background-image: url(image\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.active2 {
    animation-name: activeAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 

@keyframes activeAnimation {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
    
}

